@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  background: #f6f7fb;
}

.side-left {
  height: 100vh;
  width: 310px;
  overflow: hidden;
  float: left;
}

.side-left .emblemapp {
  background-color: rgba(0, 0, 0, 0.2);
  width: 70px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
}

.side-left .emblemapp img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.side-left .shortcut {
  width: 70px;
  height: 100vh;
  background: rgb(37, 149, 245);
  background: linear-gradient(
    0deg,
    rgba(37, 149, 245, 1) 0%,
    rgba(32, 61, 209, 1) 100%
  );
  float: left;
}

.side-left .menus {
  width: 70px;
  overflow: hidden;
  margin-top: 200px;
}

.side-left .menus .inactive {
  background: none !important;
  transition: all 1s;
}

.side-left .menus .inactive:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  transition: all 1s;
}

.side-left .menus .inactive .icon-item-menu {
  opacity: 0.2 !important;
  transition: all 1s;
}

.side-left .menus .inactive .icon-item-menu:hover {
  opacity: 1 !important;
  transition: all 1s;
}

.side-left .menus .item-menu {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 8px;
  margin-bottom: 23px;
}

/* .side-left .menus .item-menu:last-child {
  margin-top: 100px;
} */

.side-left .menus .item-menu .icon-item-menu {
  color: #ffffff;
  font-size: 20px;
  padding-top: 5px;
  text-align: center;
  vertical-align: auto;
}

.input-type-primary-tiketsaya {
  background: #fafafa;
  border: 1px solid #ededed;
  color: #21272c;
  font-size: 16px;
  font-weight: 400;
}

.input-type-primary-tiketsaya:focus {
  background: #d0d7ff;
  border: 1px solid #203dd1;
  color: #203dd1;
}

.title-input-type-primary-tiketsaya {
  font-size: 16px;
  font-weight: 400;
  color: #21272c;
}

.btn-primary-tiketsaya {
  background: #203dd1;
  border: 0;
  height: 45px;
  width: 140px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 30px;
  -webkit-box-shadow: 0px 11px 15px -9px rgba(105, 98, 161, 1);
  -moz-box-shadow: 0px 11px 15px -9px rgba(105, 98, 161, 1);
  box-shadow: 0px 11px 15px -9px rgba(105, 98, 161, 1);
}

.btn-primary-tiketsaya:hover {
  background: #0e1e6e;
  border: 0;
}

/* GLOBAL STYLE */

/* SIGN-IN PAGE */
.header-sign-in {
  padding: 50px 0;
}

.header-sign-in .logo-header {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-sign-in {
  overflow: hidden; /* menggantikan height agar auto mengikuti tinggi konten*/
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 8px;
  background: rgb(246, 247, 251);
  background: linear-gradient(
    5deg,
    rgba(246, 247, 251, 1) 23%,
    rgba(255, 255, 255, 1) 74%
  );
}

.form-sign-in .icon-header {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-sign-in .title-form {
  font-size: 30px;
  font-weight: 500;
  color: #21272c;
  margin: 0;
}
.form-sign-in .subtitle-form {
  font-size: 13px;
  font-weight: 300;
  color: #b4b4b4;
}

.form-sign-in .content-sign-in {
  margin-top: 30px;
}

/* ADMIN PROFILE */

.side-left .admin-profile {
  background: rgb(246, 247, 251);
  background: linear-gradient(
    5deg,
    rgba(246, 247, 251, 1) 0%,
    rgba(255, 255, 255, 1) 76%
  );
  float: left;
  min-height: 100vh;
  width: 240px;
}

.side-left .admin-profile .admin-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #203dd1;
  margin: auto;
  margin-top: 50px;
  background: #e6f8f0;
}
.side-left .admin-profile .admin-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
}

.side-left .admin-profile .admin-name {
  font-size: 18px;
  font-weight: 500;
  color: #21272c;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
}

.side-left .admin-profile .admin-level {
  font-size: 14px;
  font-weight: 300;
  color: #b4b4b4;
  text-align: center;
}

.side-left .admin-profile .admin-menus {
  margin-top: 50px;
  display: block;
}

.side-left .admin-profile .admin-menus li {
  padding-bottom: 40px;
  margin-left: -20px;
}

.admin-menus a {
  color: #b4b4b4;
}
/* .active-link a {
  color: #21272c;
} */

.admin-menus a:hover {
  color: #203dd1;
}

.admin-menus li a:active {
  color: #21272c;
}

.admin-menus .badge-tiketsaya {
  background: #d0d7ff;
  color: #203dd1;
  margin-left: 10px;
}
